/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:ab6b242759cd41b6bee1ba56a80ed408$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(spritesheet.png);}

.antman {width:155px; height:226px; background-position: -2px -2px}
.batman {width:155px; height:226px; background-position: -159px -2px}
.captain-america {width:155px; height:226px; background-position: -316px -2px}
.colossus {width:155px; height:226px; background-position: -473px -2px}
.cyclops {width:155px; height:226px; background-position: -630px -2px}
.flash {width:155px; height:226px; background-position: -787px -2px}
.gambit {width:155px; height:226px; background-position: -2px -230px}
.green-lantern {width:155px; height:226px; background-position: -159px -230px}
.hawkeye {width:155px; height:226px; background-position: -316px -230px}
.hawkman {width:155px; height:226px; background-position: -473px -230px}
.hulk {width:155px; height:226px; background-position: -630px -230px}
.human-torch {width:155px; height:226px; background-position: -787px -230px}
.invisible-woman {width:155px; height:226px; background-position: -2px -458px}
.iron-man {width:155px; height:226px; background-position: -159px -458px}
.jean-grey {width:155px; height:226px; background-position: -316px -458px}
.martian-manhunter {width:155px; height:226px; background-position: -473px -458px}
.mr-fantastic {width:155px; height:226px; background-position: -630px -458px}
.nightcrawler {width:155px; height:226px; background-position: -787px -458px}
.nightwing {width:155px; height:226px; background-position: -2px -686px}
.professor-x {width:155px; height:226px; background-position: -159px -686px}
.rogue {width:155px; height:226px; background-position: -316px -686px}
.scarlet-witch {width:155px; height:226px; background-position: -473px -686px}
.spiderman {width:155px; height:226px; background-position: -630px -686px}
.storm {width:155px; height:226px; background-position: -787px -686px}
.superman {width:155px; height:226px; background-position: -2px -914px}
.thing {width:155px; height:226px; background-position: -159px -914px}
.thor {width:155px; height:226px; background-position: -316px -914px}
.wasp {width:155px; height:226px; background-position: -473px -914px}
.wolverine {width:155px; height:226px; background-position: -630px -914px}
.wonder-woman {width:155px; height:226px; background-position: -787px -914px}
